.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.grid {
  display: -ms-grid;
  display: grid;
}
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.max-w-3\/5 {
  max-width: 60%;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.w-full {
  width: 100%;
}
.w-\[460px\] {
  width: 460px;
}
.gap-30 {
  grid-gap: 7.5rem;
  gap: 7.5rem;
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}